.info {
    padding: 53px 0 51px;
}
.info-row {
    display: flex;
    column-gap: 40px;
    justify-content: space-between;
    align-items: center;
    max-width: 1135px;
    margin: 0 auto;
}
.info-content {
    max-width: 445px;
}
.info-title {
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 24px;
}
.info-desc {
    margin-bottom: 37px;
}
.info-list {
    display: flex;
    flex-direction: column;
}
.info-list-item {
    display: flex;
    column-gap: 15px;
    
    & + * {
        padding-top: 18px;
        margin-top: 13px;
        border-top: 1px solid var(--CHINESE-SILVER);
    }
}
.info-item-first,
.info-item-second {
    display: flex;
    align-items: center;
    column-gap: 14px;
    max-width: 215px;
    width: 100%;
}
.info-item-img {
    & img {
        display: block;
    }
}
.info-desc-subtitle {
    font-weight: 400;
    font-size: 14px;
    color: var(--TAUPE-GRAY);
}
.info-desc-num {
    font-weight: 600;
}
.info-picture {
    & img {
        width: 560px;
        height: 555px;
        display: block;
        object-fit: cover;
    }
}