@import './var';
@import './header';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}
.container {
    max-width: 1405px;
    padding: 0 20px;
    margin: 0 auto;
}